body
{
    background: #f3f3f3;
    font-size: 0.9vw;
}
.centered
{
    left: 10%;
    margin-top: 15px;
    max-width: 900px;
    position: relative;
    width: 80%;
}
#clipboard
{
    height: 60%;
    opacity: 0.8;
    position: relative;
    top: 20%;
    width: 100%;
}
#clipboard_container
{
    background: #ffd6d6;
    border-radius: 3px;
    border: 0.5px solid #ff9393;
    float: left;
    height: 33px;
    margin-left: 10px;
    position: relative;
    width: 35px;
}
#clipboard_container:hover
{
    background: #ff3a3a;
    cursor: pointer;
}
#decrypt_button
{
    float: left;
    left: 10%;
    padding: 10px;
    position: relative;
    top: -25px;
}
.green_tick
{
    background: #2dd52d;
    border-radius: 3px;
    border: 0.5px solid #ff9393;
    float: left;
    height: 33px;
    left: -37px;
    position: relative;
    transform-origin: top right;
    transition: all 0.5s ease;
    width: 36px;
}
.green_tick_hidden
{
    transform: scale(0);
    transform-origin: top left;
}
.header > h1
{
    font-size: 3rem;
    font-style: italic;
}
.header > h3
{
    color: grey;
    font-size: 1rem;
    font-style: italic;
}
.hidden
{
    visibility: hidden;
    position: absolute;
}
input[type=checkbox]
{
    position: relative;
    top: calc(0.3vh);
}
.link
{
    width: 150px;
}
#message
{
    margin: 0px;
}
#message_container
{
    background: white;
    border: 0.5px solid #a9a9a9;
    max-height: 2000px;
    max-width: 900px;
    min-height: 300px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    font-size: 0.8vw;
    width: 80%;
}
#new_clip:hover
{
    cursor: pointer;
}
#not_found_container
{
    background: #ff6d6d;
    border: 1px solid #ff0000;
    height: 90px;
    max-width: 900px;
    padding: 10px;
    width: 80%;
    color: white;
    font-size: 3.5vh;
    text-align: center;
}
#out_of_band_password_container
{
    height: 40px;
    padding-bottom: 10px;
}
#out_of_band_password_first_input
{
    float: left;
    padding: 10px;
    position: absolute;
    width: calc(89% - 20px);
}
#out_of_band_password_second_input
{
    float: left;
    left: 10%;
    padding: 10px;
    position: relative;
    width: 80%
}
.pass_populated
{
    background: #ffd6d6;
    border: 1px solid #ff9393;
    border-radius: 2px;
    color: #0a0a00;
    padding: 10px;
    width: 100%;
}
.selectable
{
    cursor: pointer;
}
.selectable.selected
{
    cursor: default;
}
.selectable:hover:not(.selected)
{
    background: #ff3a3a;
    color: white;
}
.selector
{
    background: #d1d1d1;
    border: 1px solid grey;
    margin-right: 10px;
    padding: 10px;
    border-radius: 3px;
}
.selector > select
{
    background: #d1d1d1;
    border: none;
    font-size: 0.9vw;
}
/*
selected must appear in the style sheet AFTER selector
*/
.selected
{
    background-color: #2dd52d;
    background-image: url(/static/tick.svg);
    background-position-x: 50%;
    background-position-y: 25%;
    background-repeat: no-repeat;
    background-size: 30px;
}
#send_out_of_band
{
    background: white;
    border: 0.5px solid #a9a9a9;
    cursor: pointer;
    height: 38.5px;
    left: 90%;
    position: absolute;
    width: 6%;
}
#send_out_of_band_arrow
{
    height: 200%;
    left: -50%;
    opacity: 0.7;
    position: relative;
    top: -50%;
    width: 200%;
}
#show_password
{
    height: 50%;
    left: 25%;
    opacity: 0.7;
    position: relative;
    top: 25%;
    width: 50%;
}
#show_password_container
{
    background: white;
    cursor: not-allowed;
    border: 0.5px solid #a9a9a9;
    height: 38.5px;
    left: 96.5%;
    position: absolute;
    width: 6%;
}
textarea
{
    height: 250px;
    width: 100%;
    padding: 10px;
}
#url
{
    background: #ffd6d6;
    border: 0.5px solid #ff9393;
    border-radius: 3px;
    color: #0a0a00;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
    position: relative;
    height: 24px;
}
#url_container
{
    border-radius: 3px;
    font-size: 0.9rem;
    margin-top: 30px;
    min-height: 40px;
    position: relative;
}
#white_tick
{
    height: 50%;
    left: 25%;
    opacity: 0.7;
    position: relative;
    top: 25%;
    width: 50%;
}

/* Responsiveness */
@media only screen and (max-width: 900px) and (min-width: 550px)
{
    .selector
    {
        font-size: 1.7vw;
        margin-right: 5px;
    }
    .selector > select
    {
        font-size: 1.7vw;
    }
    #url
    {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 65vw;
    }
}
@media only screen and (max-width: 550px) and (min-width: 300px)
{
    #out_of_band_password_first_input
    {
        width: calc(97% - 20px);
    }
    .selector
    {
        margin-right: 3px;
        font-size: 1.7vw;
    }
    .selector > select
    {
        font-size: 1.7vw;
    }
    #send_out_of_band
    {
        left: 99%;
    }
    #show_password_container
    {
        visibility: hidden;
    }
    #url
    {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 50vw;
    }
}
@media only screen and (max-width: 300px)
{
    body
    {
        visibility: hidden;
    }
    body:before
    {
        content: "YOUR SCREEN IS WAYYYYYY TOO SMALL...";
        font-size: 2.3rem;
        visibility: visible;
    }
}
