body
{
    background: #f3f3f3;
    font-size: 0.9vw;
}
.centered
{
    left: 10%;
    margin-top: 15px;
    max-width: 900px;
    position: relative;
    width: 80%;
}
#decrypt_button
{
    float: left;
    left: 10%;
    padding: 10px;
    position: relative;
    top: -25px;
}
.header > h1
{
    font-size: 3rem;
    font-style: italic;
}
.header > h3
{
    color: grey;
    font-size: 1rem;
    font-style: italic;
}
input[type=checkbox]
{
    position: relative;
    top: calc(0.3vh);
}
.link
{
    width: 150px;
}
#message_container
{
    background: white;
    border: 0.5px solid #a9a9a9;
    height: 250px;
    max-width: 900px;
    min-height: 300px;
    padding: 10px;
    font-size: 0.8vw;
    width: 80%;
}
#not_found_container
{
    background: #ff6d6d;
    border: 1px solid #ff0000;
    height: 90px;
    max-width: 900px;
    padding: 10px;
    width: 80%;
    color: white;
    font-size: 3.5vh;
    text-align: center;
}
#out_of_band_password
{
    margin-top: 30px;
}
#out_of_band_password_input
{
    float: left;
    left: 10%;
    padding: 10px;
    position: relative;
    width: 80%
}
.pass_populated
{
    background: #ffd6d6;
    border: 1px solid #ff9393;
    border-radius: 2px;
    color: #0a0a00;
    padding: 10px;
    width: 100%;
}
.selector
{
    background: #d1d1d1;
    border: 1px solid grey;
    margin-right: 10px;
    padding: 10px;
    border-radius: 3px;
}
.selector > select
{
    background: #d1d1d1;
    border: none;
    font-size: 0.9vw;
}
.send:hover
{
    background: #ff3a3a;
    color: white;
    cursor: pointer;
}
textarea
{
    height: 250px;
    width: 100%;
    padding: 10px;
}
#url
{
    margin-top: 25px;
    width: 100%;
}
.url_populated
{
    background: #ffd6d6;
    border: 1px solid #ff9393;
    border-radius: 3px;
    color: #0a0a00;
    padding: 10px;
    width: 100%;
}
