<!DOCTYPE html>
<html>
    <head>
        <script>
            var server_address = {{ server_address }} ;
        </script>
        <script src='/static/aes-min.js'></script>
        <script src='/static/sha3-min.js'></script>
        <script src='/static/secure.js'></script>
    </head>
    <body>
        <div id='url'></div>
        <div>
            <input type='checkbox' id='burn_after_reading'>Burn After Reading</input>
            <select id='ttl'>
                <option value='60'>1 minute</option>
                <option value='120'>2 minutes</option>
                <option value='300'>5 minutes</option>
                <option value='600'>10 minutes</option>
                <option value='3600'>1 hour</option>
                <option value='86400'>24 hours</option>
            </select>
        </div>
        <textarea id='input'></textarea>
    </body>
</html>
